{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head %}
    {% include 'top/head.html' %}
{% endblock head %}

{% block nav %}
    {% include 'nav_def.html' %}
{% endblock nav %}

{% block content %}
<div class="container mt-5 p-5 text-center">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="p-5">
        <h6>パスワードのリセット</h6>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset allauth_form">
            {% csrf_token %}
            <p class="my-5">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            {% for field in form %}
                <div class="my-5">
                    {{field}}
                </div>
            {% endfor %}
            <button class="primaryAction btn rounded-0 top-login-button d-block py-2" type="submit">パスワードをリセット</button>
            <div class="my-3">
                <a class="link-none font-sm" href="/">ログインへ</a>
            </div>
            <hr class="my-1">
            <div class="my-3">
                <a class="link-none font-sm" href="{% url 'account_signup' %}">アカウント作成</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}