{% extends 'base_def.html' %}

{% block head %}
    {% include 'head_def.html' %}
{% endblock head %}

{% block nav %}
    {% include 'nav_def.html' %}
{% endblock nav %}



{% block content %}
{% if request.user in team.users.all %}

{{ room_id|json_script:"room_id" }}
{% if user.is_anonymous %}
    {{ "guest"|json_script:"user_id"}}
{% else %}
    {{ user.user_id|json_script:"user_id"}}
{% endif %}

<div class="container" id="PhoneTab">
    <pre class="ms-5 noto-bold" style="font-size:1.2rem;">Thread {{thread.thread_name}}</pre>
    <hr class="mt-0 mb-0">
</div>

<div class="log-box scroll-y mx-1" id="chat-log"><!-- messages are displayed here -->
    {% for chat in thread_chats %}
        {% if chat.whats_in == "chat" %}
                <div class="my-1 rounded pt-2 shadow-min pb-1 font-sm bg-white">
                    <div class="mx-3 d-flex mb-1">
                        <a href="{% url 'users:detail' chat.user_id %}">
                            <img class="d-inline rounded mt-1" width="42px" height="42px" src="/media/{{chat.user_image}}" alt="">
                        </a>
                        <span class="noto-bold ms-3 mt-auto truncate">{{ chat.username }}</span>
                        <span class="ms-3 mt-auto truncate text-muted font-07" id="createdAt">{{ chat.created_at|date:'Y m d H i s' }}</span>
                    </div>
                    <p class="ms-5 breakword" style="">{{ chat.content|linebreaksbr }}</p>
                </div>
        {% endif %}
    {% endfor %}
</div>

<div class="content-width chat-textwrapper fixed-bottom px-2">
    <textarea class="form-control" id="chat-message-input" type="text"></textarea>
    <button id="chat-message-submit" type="button"><img src="/static/logo/send.svg" alt=""></button>
</div>


<script>
const roomName = JSON.parse(document.getElementById('room_id').textContent);
const user_id = JSON.parse(document.getElementById('user_id').textContent);

//textareaの要素を取得
let textarea = document.getElementById('chat-message-input');
//textareaのデフォルトの要素の高さを取得
let clientHeight = textarea.clientHeight;
textarea.style.height = 30 + 'px';
//textareaのinputイベント
textarea.addEventListener('input', ()=>{
    //textareaの要素の高さを設定（rows属性で行を指定するなら「px」ではなく「auto」で良いかも！）
    textarea.style.height = clientHeight + 'px';
    //textareaの入力内容の高さを取得
    let scrollHeight = textarea.scrollHeight;
    //textareaの高さに入力内容の高さを設定
    textarea.style.height = scrollHeight + 'px';
});

const chatSocket = new WebSocket(
    'wss://'
    + window.location.host
    + '/ws/team/chat/'
    + roomName
    + '/'
);

const now = new Date();
function formatdate(now){
    let Year = now.getFullYear();
    let Month = now.getMonth()+1;
    let Date = now.getDate();
    let Hour = now.getHours();
    let Min = now.getMinutes();
    let Sec = now.getSeconds();
    let nstr = Year + "-" + Month + "-" + Date + ' ' + Hour + ":" + Min + ":" + Sec;
    return nstr;
}
let nstr = formatdate(now)

chatSocket.onopen = function(e) {
    chatSocket.send(JSON.stringify({
        'whats_in': "join_announce",
        'user_id': user_id,
        'message': "",
        'time':nstr,
    }))
    //the height of the chat log
    let chat_log_scrollHeight = document.getElementById('chat-log').scrollHeight;
    //scroll to the bottom
    document.getElementById('chat-log').scrollTop = chat_log_scrollHeight;
}

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    let un = data.username;
    data.message = data.message.replace(/\r?\n/g, '<br>');
    if (data.user_id == "") {
        un="guest";
    }
    if (data.whats_in == "join_announce") {
        /*document.querySelector('#chat-log').innerHTML += (
            data.time +
            '<img class="d-inline" width="25px" height="25px" src="{{ request.scheme }}://{{ request.get_host }}/media/' + data.user_image + '" alt="">' +
            '<strong class="p-1 alert-warning mx-3"> ' + un + '</strong>' + ' logged online!<br>'
        );*/
    } else if (data.whats_in == "chat") {
        document.querySelector('#chat-log').innerHTML += (
            '<div class="my-1 rounded pt-2 pb-1 shadow-min font-sm bg-white">' +
                '<div class="mx-3 d-flex mb-1">' +
                    '<img class="d-inline rounded" width="42px" height="42px" src="/media/' + data.user_image + '" alt="">' +
                    '<span class="noto-bold ms-3 mt-auto truncate">' + un + '</span>' +
                    '<span class="ms-3 mt-auto truncate text-muted font-07" id="createdAt">' + data.time +'</span></div>' +
                    '<p class="ms-5 breakword">' + data.message + '</p>' +
            '</div>'
        );
    } else {
        document.querySelector('#chat-log').innerHTML += (
            '<div class="my-1 rounded pt-2 pb-1 shadow-min font-sm bg-white">' +
                '<div class="d-flex mb-1">' +
                    '<a href="/users/detail/' + data.user_id + '">' +
                    '<img class="d-inline rounded mt-1" width="42px" height="42px" src="/media/' + data.user_image + '" alt=""></a>' +
                    '<span class="noto-bold ms-3 mt-auto truncate">' + un + '</span>' +
                    '<span class="ms-3 mt-auto truncate text-muted font-07" id="createdAt">' + data.time +'</span></div>' +
                '<p class="ms-5 breakword">' + data.message + '</p>' +
            '</div>'
        );
    }
};

chatSocket.onclose = function(e) {
    //console.error('Chat socket closed unexpectedly');
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        //document.querySelector('#chat-message-submit').click();
    }
};

document.querySelector('#chat-message-submit').onclick = function(e) {
    let inp = $("#chat-message-input").val();
    if (inp=='') {
        alert('メッセージを入力してください！');
    } else {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'whats_in': 'chat',
            'user_id': user_id,
            'message': message,
            'time':nstr,
        }));
        messageInputDom.value = '';
        document.querySelector('#chat-message-input').focus();
    };
    textarea.style.height = 30 + 'px';
};



//ページを離れる直前にメッセージを表示する
window.onbeforeunload = function(){
    chatSocket.send(JSON.stringify({
        'whats_in': "exit_announce",
        'user_id': user_id,
        'message': "",
        'time':nstr,
    }));
    console.log('a user exited room')
    chatSocket.close();
}

const dates = document.querySelectorAll("#createdAt");
const timeNow=new Date();
const yesterday = new Date(timeNow.getFullYear(), timeNow.getMonth(), timeNow.getDate()-1, timeNow.getHours(), timeNow.getMinutes(), timeNow.getSeconds());
const withinHour = new Date(timeNow.getFullYear(), timeNow.getMonth(), timeNow.getDate(), timeNow.getHours()-1, timeNow.getMinutes(), timeNow.getSeconds());
for (let i=0; i<dates.length; i++) {
    let ca = dates[i].innerHTML.split(' ');
    let created_at = new Date(ca[0], ca[1]-1, ca[2], ca[3], ca[4], ca[5]);
    if(created_at.getTime() > withinHour.getTime()){ //投稿が一時間以内であれば
        let diff = timeNow.getMinutes() - created_at.getMinutes();
        if (diff<0){
            diff = timeNow.getMinutes() + (60-created_at.getMinutes());
        }
        let w = dates[i];
        w.innerHTML = (
            diff +'分前</span>'
        );
    } else if (created_at.getTime() > yesterday.getTime()){ // 投稿が1日以内であれば
        let diff = timeNow.getHours() - created_at.getHours();
        if (diff<0){
            diff = timeNow.getHours() + (24-created_at.getHours());
        }
        let w = dates[i];
        w.innerHTML = (
            diff +'時間前</span>'
        );
    } else {
        let diff = Math.round((timeNow.getTime() - created_at.getTime())/ 1000 / 60 / 60 / 24);
        let w = dates[i];
        w.innerHTML = (
            diff +'日前</div>'
        );
    }
}
</script>

{% else %}
    <div class="m-5 p-5">
        <a class="primaryAction btn rounded-0 top-login-button d-block py-2" href="{% url 'account_login' %}">アクセスが禁止されています。</a>
    </div>
{% endif %}
{% endblock content %}
</html>