{% extends 'base_def.html' %}
{% load static %}

{% block head %}
    {% include 'head_def.html' %}
{% endblock head %}

{% block nav %}
    {% include 'nav_def.html' %}
{% endblock nav %}

{% block content %}
<div class="container mt-3">
    {% if form.content.errors %}
        <div class="alert alert-danger ms-2">
            {{ form.content.errors }}
            <div class="text-center">本文</div>
        </div>
    {% endif %}
    <ul class="nav nav-tabs border-none" id="nav-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link hover-none py-1 mx-1" data-bs-toggle="modal" data-bs-target="#ExitModal">
                <img src="/static/logo/back.svg" class="d-inline" height="8px" width="8px" alt="">
                <span class="rounded-end nav-teamchat-font ms-1 me-1">
                    {% if "team" in request.path %}
                        チームトップに戻る
                    {% elif "post" in request.path %}
                        トップへ戻る
                    {% endif %}
                </span>
            </a>
        </li>
        <li class="nav-item bg-input tab-margin">
            <a class="nav-link active px-4 py-1 rounded-top " id="tab-1" data-bs-toggle="tab" href="#tabA" role="tab" aria-controls="tab-1" aria-selected="true"><span class="tabfont">タイトル</span></a>
        </li>
        <li class="nav-item bg-input tab-margin" id="ClickTab">
            <a class="nav-link link-light px-4 py-1 rounded-top " id="tab-2" data-bs-toggle="tab" href="#tabB" role="tab" aria-controls="tab-2" aria-selected="false"><span class="tabfont">本文</span></a>
        </li>
    </ul>
    <form class="bg-white" method="post" enctype="multipart/form-data" action="">
        <div class="tab-content p-1" id="nav-tabContent">
            <div class="tab-pane fade show active p-5" id="tabA" role="tabpanel" aria-labelledby="tab-1">
                <h5 class="noto-bold mb-3">アイディア編集</h5>
                {% csrf_token %}
                {{ form.non_field_errors }}
                    <div class="">
                        <label class="me-5" for="{{form.title.id_for_label}}">タイトル</label>
                            <input
                                type="{{form.title.field.widget.input_type}}"
                                class="form-control"
                                style="width: 100%;"
                                {% if form.title.field.required %}required{% endif %}
                                name="{{form.title.name}}"
                                id="{{form.title.id_for_label}}"
                                value="{{form.title.value|default_if_none:''}}"
                                >
                        {{ form.title.errors }}
                        <br>
                    </div>
                    <div class="">
                        <label class="me-5" for="{{form.category.id_for_label}}">カテゴリ</label>
                        <span class="ms-auto me-5" >
                            <select
                                type="{{form.category.field.widget.input_type}}"
                                class="form-select"
                                style="width: 50%;"
                                {% if form.category.field.required %}required{% endif %}
                                name="{{form.category.name}}"
                                id="{{form.category.id_for_label}}">
                                    {% for item in form.category %}
                                        {{item}}
                                    {% endfor %}
                            </select>
                        </span>
                            {{ form.category.errors }}
                            <br>
                        </div>
                        <div class="d-none" id="stocksearch">
                            <label class="me-5" for="{{form.stock.id_for_label}}">株式選択</label>
                            <span class="text-muted font-07">※記事のヘッダーに選択した銘柄の株価グラフが描画されます。</span>
                            <span class="ms-auto me-5" >
                                <input
                                    type="{{form.stock.field.widget.input_type}}"
                                    class="form-control"
                                    style="width: 50%;"
                                    name="tickerinput"
                                    placeholder="企業名/銘柄を検索"
                                    id="tickerinput"
                                    >
                                    {{ form.stock.errors }}
                            </span>
                        </div>
                        <div class="mt-3">
                            <span class="ms-auto mt-auto me-5">
                                サムネイル
                                <div id="preview" class="mb-3">
                                    {% if form.thumbnail.value %}
                                        <img class="article-thumbnail rounded" src="{{form.thumbnail.value.url}}" id="thumb" alt="">
                                    {% else %}
                                        <img class="article-thumbnail rounded" src="/static/thumb-other.png" id="thumb" alt="">
                                    {% endif %}
                                </div>
                                {{ form.thumbnail.errors }}
                                <label class="text-muted font-08" for="{{form.thumbnail.id_for_label}}">サムネイルアップロード</label><br>
                                <input
                                    type="{{form.thumbnail.field.widget.input_type}}"
                                    class="form-control d-inline"
                                    style="width: 50%;"
                                    {% if form.thumbnail.field.required %}required{% endif %}
                                    name="{{form.thumbnail.name}}"
                                    id="{{form.thumbnail.id_for_label}}"
                                    onChange="imgPreView(event)"
                                    value="{{form.thumbnail.value}}"
                                    >
                            <br>
                            </span>
                        </div>
                </div>
                <div class="tab-pane" id="tabB" role="tabpanel" aria-labelledby="tab-2">
                    {{ form.content }}
                </div>
            </div>
            <input class="d-none" type="checkbox" name="is_published" id="id_is_published">
            <button type="button" class="btn fixed-button" data-bs-toggle="modal" data-bs-target="#OptionModal"><img class="ms-auto" src="/static/logo/post-plus.svg" alt="create articles" data-bs-toggle="tooltip" data-bs-placement="top" title="記事公開"></button>
            <!-- Modal -->
            <div class="modal fade" id="OptionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="d-flex">
                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <h6 class="modal-title text-center noto-bold mt-5" id="exampleModalLabel">アイディアの状態を変更しますか？</h5>
                            <span class="d-none">{{form.is_published}}</span>
                            <button type="submit" class="btn btn btn-outline-team px-5 mt-3" data-bs-dismiss="modal">保存する</button>
                            {% if '/update/' in request.path %}<br>{% endif %}
                            <button type="submit" class="btn btn-team text-light px-5 mt-3" id="SubmitPublish">公開する</button>
                            {% if '/update/' in request.path %}<br>{% endif %}
                            {% if 'update' in request.path %}
                                <a href="{% url 'post:delete' post.pk %}" class="btn btn-danger text-light px-5 my-3">削除する</a>
                            {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="ExitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-body text-center">
                        <div class="d-flex">
                            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <h6 class="modal-title text-center noto-bold mt-3 mb-4" id="exampleModalLabel">移動します。<br>{% if '/update/' in request.path %}変更{% else %}アイディア{% endif %}を保存しますか？</h5>
                            <button type="submit" class="btn btn-outline-team px-5 me-4" data-bs-dismiss="modal">保存する</button>
                            <a class="btn btn-danger py-2 px-5" href="{% url 'mypage:index' %}">保存しない</a>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{% block footer %}
{% endblock %}
{% block js %}
    <script >
        let selected = document.getElementById('id_category');
        let t = document.getElementById('thumb');
        let input = document.getElementById('id_thumbnail')
        let preview = document.getElementById("preview");
        var previewImage = document.getElementById("previewImage");
        let stockSearch = document.querySelector("#stocksearch");
        selected.onchange = function(){
            if (selected.value == '1'){
                stockSearch.className = 'd-inline';
            } else {
                stockSearch.className = 'd-none';
            }
            let l = ["thumb-other.png", "thumb-stock.png", "thumb-econ.png", "thumb-strategy.png"];
            let png = l[Number(selected.value)];
            t.src = '/static/' + png;
            document.getElementById("id_thumbnail").value = "";
        };
        function imgPreView(event) {
            var file = event.target.files[0];
            var reader = new FileReader();
            var preview = document.getElementById("preview");
            reader.onload = function(event) {
                t.src = reader.result
            };
            reader.readAsDataURL(file);
        }
        // ”公開する”ボタンで is_publisheをクリック
        let publish = document.getElementById("SubmitPublish");
        publish.onclick = function() {
            document.getElementById("id_is_published").checked = true;
        }
    </script>
    <script>
    document.querySelector("#ClickTab").onclick = function(){
        const element = document.querySelector('#id_content_iframe').contentWindow.document.querySelector('body');
        element.style.height = "100vh";
        const noteEditor = document.querySelector('#id_content_iframe').contentWindow.document.querySelector(".note-editable");
        noteEditor.style.height = "85vh";
    };
    </script>
    <script src="/static/assets/js/stock_list.js"></script>
{% endblock %}