<div class="container-fluid">
    <div class="row mb-5 pb-5">
        <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
            <img class="img-fluid" src="/static/logo/images-for-top/community-1.png" >
        </div>
        <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
            <div class="py-3">
                <h3 class="top-font-community my-2">コミュニティ機能</h3>
                <h6 class="top-font-community">情報共有から、チームメイトの発見まで</h4>
                <p>ポリスのコミュニティでは日々の情報共有など一般的なオープンチャットで行われるコミュニケーションは勿論のこと、ポリスではチームを組むことができることから、チームメイトを見つける場所としても機能します。</p>
                <br>
                <p>コミュニティを使って人と繋がることで、ポリスでより良い投資を実現しましょう。</p>
                <div class="d-flex font-08">
                    <a id="communityAccordionButton" class="link-none text-muted ms-auto">詳細を見る<img class="ms-1" src="/static/logo/arrow-sm-down.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
<details>
    <summary class="d-none" id="communityAccordionSummary"></summary>
    <div class="container-fluid">
        <div class="row mb-5 pb-5">
            <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/community-2.png" >
            </div>
            <div class="col-sm-12 col-md-6 order-sm-2 order-md-1" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-community">1.コミュニティチャット機能</h4>
                    <h6 class="top-font-community">相談したい、そんな時に頼れる人がいる</h6>
                    <p>ポリスのコミュニティチャットには、誰もが参加でき、金融という枠に留まらない会話ができます。</p>
                    <p>ここで生まれるユーザーとの新しい出会いが、チームメイトの発見に直結するかもしれません。</p>
                    <br>
                    <p>コミュニティチャットはポリスで生まれる繋がりの始発駅です。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/community-3.png" >
            </div>
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-community">2.コミュニティ作成機能</h3>
                    <h6 class="top-font-community">誰もが自由に話題を作って話し合える場所</h6>
                    <p>ポリスのコミュニティは誰もが参加し、スレッドの作成ができる自由な空間です。</p>
                    <p>日々の情報共有に加え、チームメイトを見つける場所としても機能します。</p>
                    <br>
                    <p>コミュニティを使って人と繋がるとで、より良い投資を実現しましょう。</p>
                </div>
            </div>
        </div>
    </div>
    <a id="communityAccordionButton" class="link-none text-muted catch mb-5 pb-5" style="width:100%;">閉じる<img class="ms-1" src="/static/logo/arrow-sm-up.svg" alt=""></a>
</details>
</div>
