<div class="container-fluid">
    <div class="row mb-5 pb-5">
        <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
            <img class="img-fluid" src="/static/logo/images-for-top/team-1.png" >
        </div>
        <div class="col-sm-12 col-md-6 order-sm-2 order-md-1" style="padding-right: 0 !important; padding-left: 0 !important;">
            <div class="py-3">
                <h3 class="top-font-team my-2">チーム機能</h3>
                <h6 class="top-font-team">投資について一緒に考えるチームメイトをつくる</h4>
                <p>オンライン上のコミュニケーションは誰もが参加できる形式が主流です。しかし、参加できる人が限られているプライベートな空間だからこそ、できる議論、生まれるアイディアがあります。</p>
                <p>ポリスではユーザーが自由にメンバーを選び、チームを組めます。</p>
                <br>
                <p>チーム機能を使ってひとつ上の環境で、より良い投資を実現しましょう。</p>
                <div class="d-flex font-08">
                    <a id="teamAccordionButton" class="link-none text-muted ms-auto">詳細を見る<img class="ms-1" src="/static/logo/arrow-sm-down.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
<details>
    <summary class="d-none" id="teamAccordionSummary"></summary>
    <div class="container-fluid">
        <div class="row my-5 py-3">
            <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/team-2.png" >
            </div>
            <div class="col-sm-12 col-md-6 order-sm-2 order-md-1" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-team">1.チームアイディア機能</h3>
                    <h6 class="top-font-team">仲間を集め、より良いチームを作る</h6>
                    <p>チームアイディア投稿はチームの考え方、方向性を提示できる機会として働きます。</p>
                    <p>チームのプロフィールにも表示され、チームメイトを集める上で重要な要素になります。</p>
                    <br>
                    <p>より多くのアイディアを投稿して魅力的なチームをつくりましょう。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-5 py-3">
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/team-3.png" >
            </div>
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-team">2.チームチャット機能</h3>
                    <h6 class="top-font-team">チームメイトとアクティブな情報交換</h6>
                    <p>チームチャットはチームとして活動出来るからこそ、より高いレベルの情報交換を実現することが出来ます。</p>
                    <p>会話のスレッドの追加など、それぞれの議題について掘り下げた会話の実現をサポートします。</p>
                    <br>
                    <p>チームチャットで自分達だけの投資を創りましょう。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/team-4.png" >
            </div>
            <div class="col-sm-12 col-md-6 order-sm-2 order-md-1" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-team">3.チーム検索機能</h3>
                    <h6 class="top-font-team">探していたチームメイトが見つかる</h6>
                    <p>ポリスではチームに参加してほしいユーザーに招待を送ったり、入りたいチームに参加申請を送ることができます。</p>
                    <p>検索機能でユーザーをカテゴリー別に検索することもでき、チームメイトになってほしいと思える人が見つかります。</p>
                    <br>
                    <p>ユーザー検索機能で理想のチームをつくりましょう。</p>
                </div>
            </div>
        </div>
    </div>
    <a id="teamAccordionButton" class="link-none text-muted catch mb-5 pb-5" style="width:100%;">閉じる<img class="ms-1" src="/static/logo/arrow-sm-up.svg" alt=""></a>
</details>
</div>