<div class="container-fluid">
    <div class="row mb-5 pb-5">
        <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
            <img class="img-fluid" src="/static/logo/images-for-top/idea-1.png" >
        </div>
        <div class="col-sm-12 col-md-6 order-sm-2 order-md-1" style="padding-right: 0 !important; padding-left: 0 !important;">
            <div class="py-3">
                <h3 class="top-font-idea my-2">アイディア機能</h4>
                <h6 class="top-font-idea">行き詰まった時、参考になるアイディアがある</h4>
                <p>ポリスは様々な視点から生まれたアイディアに溢れています。行き詰った時、参考になるアイディアがここにあります。</p>
                <p>アイディアを投稿することでユーザーとの繋がりも生まれ、チームの結成に直結するかもしれません。</p>
                <br>
                <p>ポリスで沢山の投資アイディアに出会いましょう。</p>
                <div class="d-flex font-08">
                    <a id="ideaAccordionButton" class="link-none text-muted ms-auto">詳細を見る<img class="ms-1" src="/static/logo/arrow-sm-down.svg" alt=""></a>
                </div>
            </div>
        </div>
</div>
<details>
    <summary class="d-none" id="ideaAccordionSummary"></summary>
    <div class="container-fluid">
        <div class="row mb-5 pb-5">
            <div class="col-sm-12 col-md-6 order-sm-1 order-md-2" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/idea-2.png" >
            </div>
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-idea">1.アイディア投稿</h4>
                    <h6 class="top-font-idea">投稿がその人の個性となり、チーム参加に繋がる</h5>
                    <p>アイディア投稿では自らの考えをシェアすることが出来ます。</p>
                    <p>投稿されたアイディアはプロフィールページに表示され、他のユーザーに見つけてもらうことに繋がります。</p>
                    <br>
                    <p>アイディア投稿が、ユーザー同士の繋がりを生み、チームへの参加を促進していきます。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mb-5 pb-5">
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <img class="img-fluid" src="/static/logo/images-for-top/idea-3.png" >
            </div>
            <div class="col-sm-12 col-md-6" style="padding-right: 0 !important; padding-left: 0 !important;">
                <div class="py-3">
                    <h3 class="top-font-idea">2.アイディア発見機能</h3>
                    <h6 class="top-font-idea">探していたアイディアがここで見つかる</h5>
                    <p>アイディア発見機能では探しているアイディアを簡単に見つけることができます。</p>
                    <p>多様な視点から生まれた投稿が今までにない新しい発見をもたらします。</p>
                    <br>
                    <p>ポリスで自分の投資活動をサポートしてくれるアイディアに出会いましょう。</p>
                </div>
            </div>
        </div>
    </div>
    <a id="ideaAccordionButton" class="link-none text-muted catch mb-5" style="width:100%;">閉じる<img class="ms-1" src="/static/logo/arrow-sm-up.svg" alt=""></a>
</details>
</div>