{% extends 'base_def.html' %}
{% load i18n %}


{% block head %}
    {% include 'head_def.html' %}
{% endblock head %}

{% block nav %}
    {% include 'nav_def.html' %}
{% endblock nav %}

{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                株価チャートを検索
            </div>
            <div class="card-body">
                <form action="{% url 'mypage:stock_search' %}" method="post" id='chart' enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="stock_id">Stock:</label><br>
                            <input type="text" name="stock_id" id="">
                        </div>
                    <button type="submit" class="btn btn-outline-dark">Search</button>
                </form>
                {{er}}
                <!-- pass the stock info as a dictionary named data_list to the js script -->
                {% include 'stock_chart.html' %}
            </div>
        </div>
        <a href="{% url 'mypage:post_create' %}">go to post page</a>
    </div>
{% endblock content %}


{% block footer %}

{% endblock footer %}